@using ASP_NET_Core.Models

@(Html.DevExtreme().HtmlEditor()
    .ID("html_editor")
    .Height(500)
    .OnInitialized("onInitialized")
    .Value(new JS("markup"))
    .Toolbar(toolbar => toolbar.Items(
        items =>
        {
            items.Add().Name(HtmlEditorToolbarItem.Undo);

            items.Add().Name(HtmlEditorToolbarItem.Redo);

            items.Add().Name(HtmlEditorToolbarItem.Separator);

            items.Add().Name(HtmlEditorToolbarItem.Clear);

        })
    )
)
<script>
    let markup = '<h2>Formatted Text Editor (HTML Editor)</h2><p><br></p><p>DevExtreme JavaScript HTML Editor is a client-side WYSIWYG text editor that allows its users to format textual and visual content and store it as HTML or Markdown.</p>';

    function onInitialized(e) {
        const Uploader = e.component.get('modules/uploader');
        class DisabledUploader extends Uploader {
            constructor(quill, options) {
                // eslint-disable-next-line spellcheck/spell-checker
                super(quill, { ...options, mimetypes: [] });
                // empty array to prevent any image type from being pasted
            }
        }
        e.component.register({ 'modules/uploader': DisabledUploader });
    }
</script>
